@font-face {
    font-family: 'SC-regular';
    src: url('~@/assets/fonts/PingFang-SC-Regular-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SC-bold';
    src: url('~@/assets/fonts/PingFang-SC-Semibold-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TC-regular';
    src: url('~@/assets/fonts/PingFang-TC-Regular-2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TC-bold';
    src: url('~@/assets/fonts/PingFang-TC-Semibold-2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
