// 顏色

$primary: #ffc100;
$secondary: #010a31;
$secondary_light: #141c3f;
$default: #ffffff;
$disable: #cccccc;

$success: #20a763;
$error: #ed0000;

$bg: #f7f7f7;
$footer_bg: #2a2c38;
$footer_text_darken: #646a7b;
// gray
$gray_dark: #2a2c38;
$gray: #5d5b5b;
$gray_light: #a6a8b3;
$gray_bright: #dbdbdb;


// 字體
